<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.DepartmentMapper">
    <!--插入数据,返回ID-->
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO department(name, sn) VALUES(#{name}, #{sn})
    </insert>

    <!--通过ID删除数据-->
    <delete id="deleteByPrimaryKey">
        DELETE FROM department WHERE id = #{id}
    </delete>

    <!--通过ID查询数据-->
    <select id="selectByPrimaryKey" resultType="cn.wolfcode.crm.domain.Department">
        SELECT id, name, sn FROM department WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="cn.wolfcode.crm.domain.Department">
        SELECT id, name, sn FROM department
    </select>

    <!--PageHelper分页查询-->
    <select id="selectForList" resultType="department">
        SELECT id, name, sn FROM department
    </select>

    <!--根据ID更新数据-->
    <update id="updateByPrimaryKey">
        UPDATE department SET name = #{name}, sn = #{sn} WHERE id = #{id}
    </update>
</mapper>