<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Role">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <collection property="permissonList" column="id" select="cn.wolfcode.crm.mapper.PermissionMapper.selectByRoleId" ofType="permission">

        </collection>
    </resultMap>

    <insert id="insert" parameterType="cn.wolfcode.crm.domain.Role" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO role (id, name, sn)
        VALUES (#{id}, #{name}, #{sn})
    </insert>
    <insert id="insertRolePermission">
        INSERT INTO role_permission(role_id, permission_id) VALUES (#{roleId}, #{permissionId})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM role
        WHERE id = #{id}
    </delete>
    <delete id="deleteRolePermission">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>
    <delete id="deleteRoleEmployee">
        DELETE FROM employee_role WHERE role_id = #{roleId}
    </delete>

    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.Role">
        UPDATE role
        SET name = #{name},
        sn = #{sn}
        WHERE id = #{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT id, name, sn
        FROM role
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, name, sn
        FROM role
    </select>
    <select id="selectRolesByEmployeeId" resultMap="BaseResultMap">
        SELECT e.id, e.name, e.sn FROM role e INNER JOIN employee_role er ON er.role_id = e.id AND er.employee_id = #{emplyoee_id}
    </select>
    <select id="selectForList" resultType="role">
        SELECT id, name, sn FROM role
    </select>
    <select id="selectRolesSNByEmployeeId" resultType="string">
        SELECT r.sn FROM role r INNER JOIN employee_role e on r.id = e.role_id where e.employee_id = #{employeeId}
    </select>
</mapper>