<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.SystemDictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.SystemDictionaryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <association property="parent" javaType="systemDictionary" columnPrefix="parent_">
      <result column="id" property="id"/>
      <result column="title" property="title"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM systemdictionaryitem
    WHERE id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.crm.domain.SystemDictionaryItem" >
    INSERT INTO systemdictionaryitem (parent_id, title,
    sequence)
    VALUES (#{parent.id}, #{title},
    #{sequence})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.SystemDictionaryItem" >
    UPDATE systemdictionaryitem
    SET title = #{title},
    sequence = #{sequence}
    WHERE id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT id, parent_id, title, sequence
    FROM systemdictionaryitem
    WHERE id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT id, parent_id, title, sequence
    FROM systemdictionaryitem
  </select>

  <select id="selectForList" resultMap="BaseResultMap">
    SELECT s.id, s.parent_id, s.title, s.sequence, s1.id parent_id, s1.title parent_title
    FROM systemdictionaryitem s INNER JOIN systemdictionary s1 on s.parent_id = s1.id
    <where>
      <if test="parentId != null">
        parent_id = #{parentId}
      </if>
    </where>
  </select>

  <!--通过字典目录ID查询字典明细-->
  <select id="selectByParentId" resultType="systemDictionaryItem">
    SELECT s.id, s.parent_id, s.title, s.sequence, s1.id parent_id, s1.title parent_title
    FROM systemdictionaryitem s INNER JOIN systemdictionary s1 ON s.parent_id = s1.id
  </select>

  <!--通过SystemDictionary的Sn查询对应的字典明细-->
  <select id="selectItemByDicSn" resultType="systemDictionaryItem">
    SELECT s.id, s.parent_id, s.title, s.sequence, s1.id parent_id, s1.title parent_title
    FROM systemdictionaryitem s INNER JOIN systemdictionary s1 ON s.parent_id = s1.id
    where s1.sn = #{dicSn}
  </select>
</mapper>